.ColorPicker {
  width: 400px;
}
.ColorPicker__title {
    font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #000;
}
.ColorPicker__options {
    display: flex;
        justify-content: center;
}

.ColorPicker__btn {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}